<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LabraFilms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F50942FE1F4C4DBC00E42A7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F50943141F4C4DBC00E42A7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F509431F1F4C4DBC00E42A7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
